  /* Estilos generales */
  body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f7f7f7;
    }
    /* Estilos para el Menú Desplegable */
    .dropdown-menu {
      position: relative;
      float: right;
  
    }
      .dropdown-toggle {
      float: right;
      width: 110px;
      height: 40px;
      border-radius: 4px;
      background-color: #3c9bdb;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      border: 1px solid #fdfcfc;
      font-family: Arial, Helvetica, sans-serif;
      color: #fff;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    .dropdown-toggle:hover {
      background-color: #34db8a;
    }
    
    .dropdown-menu-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
    padding: 5px;
    white-space: nowrap;
    margin-top: 50px;
  }

  .dropdown-menu-content li a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 5px;
    transition: background-color 0.3s;
  }

  .dropdown-menu-content li a:hover {
    background-color: #d4474787;
  }

  .dropdown-menu-content li a {
      text-decoration: none;
    } 
    .dropdown-menu-content li {
      
      margin-bottom: 10px; /* Añade un espaciado vertical entre elementos */
      list-style: none; /* Eliminar los puntos */
    }
    


  /* Mostrar el menú desplegable al pasar el cursor sobre el botón */
  .dropdown-menu:hover .dropdown-menu-content {
    display: block;
  }
    


    /* Estilos para el PatrónUI de Tarjetas (Cards) */
    .card-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    
    .card {
      background-color: #d1e5ee;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      margin: 20px;
      width: 300px;
      transition: box-shadow 0.3s;
      display: flex;
      flex-direction: column;
    }
    
    .card:hover {
      box-shadow: 0 15px 18px rgba(0, 0, 0, 0.2);
    }
    
    .card img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
    
    .card-info {
      padding: 20px;
    }
    
    .card h2 {
      margin-top: 0;
      font-size: 20px;
      color: #333;
    }
    
    .card p {
      margin-top: 5px;
      font-size: 14px;
      color: #333;
    }
    
    .mainh1{
      text-align: center;
    }


    
  /* Patrón de Navegación por Pestañas (Tabs) */
  .tabs {
    display: flex;
    justify-content: center;
    background-color: #c5e1f0;
    padding: 10px 0;
  }
  .tab-button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    border: 1px solid #070d3a;
    margin: 5px;
    border-radius: 20px; /* Aumenta el valor para hacer los bordes más curveados */
  }


  .tab-button:hover {
    background-color: #489fb3ae;
  }


  .tab-content {
    display: none;
    padding: 20px;
  }



  /* patron ui menu despeglable */
  .dropdown-menu{
    position: absolute;
    top: 10px;
    right: 10px;
  }
  

  /* Estilos para el componente de navegación del pie de página */
  footer {
    background-color: #8fd2e2;
    padding:20px;
    margin-top: 50px;

  }

  .footer-contacto{
    /* margin-bottom: 10px; */
  /* margin-right: 100px; */
  text-align: center;
  }

  .footer-redsocial{

  /* margin-right: 900px; */
  text-align: center;
  } 

  .footer-contacto h3,.footer-redsocial h3 {
    font-size: 16px;
    margin-top: 0;
  }

  .footer-contacto p {
    margin-bottom: 5px;
  }

  .social-icons {
    list-style-type: none;
    padding: 0;
    margin: 0;
    list-style: none; /* Eliminar los puntos */ 
  }

  .social-icons li {
    display: inline-block;
    margin-right: 10px;  /*horizontal */
  }

  .social-icons li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px; /*vertical */
  }

/* Estilos para la sección de contacto */

.contact-section {
  text-align: center;

  
}

.contact-section h1 {
  font-size: 32px;
  color: #333;
}

.contact-section p {
  font-size: 18px;
  color: #555;
  margin-bottom: 30px;
}

.contact-form {
 
    text-align: center;
    padding: 20px; /* Reduce el padding para hacer el contenedor menos alto */   
    background-color: #dfe9f3ba; /* Color de fondo plomito para el contenedor en modo claro */
    border: 2px solid #b7c7e7; /* Borde azul alrededor del contenedor */
    border-radius: 25px; /* Borde redondeado del contenedor */
    border-radius: 25px; /* Borde redondeado del contenedor */
    max-width: 350px; /* Ancho máximo del contenedor del formulario */
    margin: 20px auto; /* Centrar el contenedor horizontalmente y agregar espacio arriba y abajo */
  }
  
  
  

.contact-form label {
  font-size: 18px;
  color: #333;
  margin-bottom: 8px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #353739; /* Borde azul de 2px de grosor */
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: #f2f2f2; /* Color de fondo de los campos de entrada en modo claro */
  color: #333; /* Color del texto en los campos de entrada en modo claro */
  outline: none; /* Eliminar el contorno en los campos enfocados */
}

.contact-form textarea {
  resize: vertical;
}

.contact-form button {
  background-color: #d00c10;
  color: #fff;
  border: none;
  padding: 12px 24px;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.contact-form button:hover {
  background-color: #d00c10;
}

.contact-form button:focus {
  outline: none;
}

.contact-form button:active {
  transform: translateY(1px);
}


/* Estilos para la sección de crear cuenta nueva */
.signup-section {
  text-align: center;
  padding: 20px; /* Reduce el padding para hacer el contenedor menos alto */
  background-color: #dfe9f3ba; /* Color de fondo plomito para el contenedor en modo claro */
  border: 2px solid #b7c7e7; /* Borde azul alrededor del contenedor */
  border-radius: 25px; /* Borde redondeado del contenedor */
  max-width: 350px; /* Ancho máximo del contenedor del formulario */
  margin: 20px auto; /* Centrar el contenedor horizontalmente y agregar espacio arriba y abajo */
}

/* Estilos para el menú de navegación */
.dropdown-menu {
  position: relative;
  float: right;
  margin-bottom: 20px; /* Agrega un margen inferior para separar el menú del formulario */
}


.signup-section h1 {
  font-size: 32px;
  color: #333; /* Color del texto en modo claro */
}

.signup-section p {
  font-size: 18px;
  color: #555; /* Color del texto en modo claro */
  margin-bottom: 30px;
}

.signup-form {
  max-width: 400px; /* Ancho máximo del formulario */
  margin: 0 auto; /* Centrar el formulario horizontalmente */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-form label {
  font-size: 18px;
  color: #333; /* Color del texto en modo claro */
  margin-bottom: 8px;
}

.signup-form input,
.signup-form textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 2px solid #34648f;
  background-color: #f2f2f2; /* Color de fondo de los campos de entrada en modo claro */
  color: #333; /* Color del texto en los campos de entrada en modo claro */
  outline: none; /* Eliminar el contorno en los campos enfocados */
}

.signup-form textarea {
  resize: vertical;
}

.signup-form button {
  background-color: #e50914; /* Color del botón en modo claro */
  color: #fff; /* Color del texto en el botón en modo claro */
  border: none;
  padding: 12px 24px;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.signup-form button:hover {
  background-color: #d00c10; /* Color del botón al pasar el cursor en modo claro */
}

.signup-form button:focus {
  outline: none;
}

.signup-form button:active {
  transform: translateY(1px);
}


/* Estilos para el Patrón de Tarjetas (Cards) en la sección de Empresas Aliadas */
.empresas-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.seccion {
  text-align: center;
}
.empresa-card {
  background-color: #d1e5ee;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px;
  width: 300px;
  transition: box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrar horizontalmente los elementos dentro de la tarjeta */
}

/* Estilos para centrar el texto al centro */
.aliadas {
  text-align: center;
}


.empresa-card:hover {
  box-shadow: 0 15px 18px rgba(0, 0, 0, 0.2);
}

.empresa-card img {
  width: 220px; /* Ajustar el tamaño de la imagen */
  height: 220px; /* Ajustar el tamaño de la imagen */
  object-fit: cover;
  border-radius: 50%; /* Hacer que la imagen sea redonda */
  margin-top: 20px; /* Espacio entre la imagen y el título */
}


.empresa-card h2 {
  margin-top: 0;
  font-size: 20px;
  color: #333;
}

.empresa-card p {
  margin-top: 5px;
  font-size: 14px;
  color: #333;
}


/* mas denosotros */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  color: #333;
}

main {
  padding: 20px;
}

.conoce-nosotros {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.contenido {
  max-width: 600px;
}

.conoce-nosotros h1 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #4d4d4d;
}

.conoce-nosotros p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 15px;
}

.platzi-img {
  width: 400px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

